@import 'navbar.css';
@import 'footer.css';

body {
  margin: auto;
  height: 100%;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 142%;
  opacity: .15;
  background: url(/assets/BG.png);
  background-size: cover;
}

.bodywithoutnav {
  max-width: 1500px;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

h2 {
  vertical-align: center;
  text-align: left;
  margin: 45px;
  font-size: 50px;
  color: #3D3D3D;
  font-weight: lighter;
}

h3 {
  vertical-align: center;
  text-align: left;
  margin-top: auto;
  margin-left: 45px;
  font-size: 50px;
  color: #3D3D3D;
  font-weight: lighter;
}

p {
  font-size: 22px;
  width: 90%;
  line-height: 28px;
  font-weight: lighter;
  text-align: right;
  justify-content: flex-start;
  margin: auto 0px;
  color: #3D3D3D;
  white-space:pre-line;
}

.box1 {
  position: relative;
  width: 90%;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  align-items: center;
}

.box1 .slider {
  position: relative;
  max-width: 450px;
  margin: 10px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.box1 .slider img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #3d3d3d5f;
}

.grille {
  width: 95%;
  max-width: 1300px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 60px;
  padding-bottom: 80px;
  border-radius: 15px;
}

.grid-item {
  line-height: 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #3d3d3d5f;
}

.grid-item img {
  border-radius: 15px;
  box-shadow: 5px 5px 15px #3d3d3d5f;
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.team-listing {
  position: relative;
}


.team-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-listing:hover .team-title {
  opacity: 1;
  border-radius: 15px;
}

.team-listing:hover .grid-item img {
  filter: blur(2px);
  border-radius: 15px;
}

@media (hover: none) { 

  .team-title {
    opacity: 1;
    border-radius: 15px;
  }
  .grid-item img {
    filter: blur(2px);
    border-radius: 15px;
  }
}

@media (max-width: 850px) {

 
  .box1 {
    display: block;
    margin: auto;
    width: 100%;
  }
  
  .box1 .slider{
    align-items: center;
    margin: 50px 85px;
    padding: 0;
  }

  .box1 .slider img {
    width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3d3d3d5f;
  }

  p {
    font-size: 24px;
    width: 80%;
    line-height: 30px;
    font-weight: lighter;
    text-align: center;
    justify-content: flex-start;
    margin: auto;
    color: #3D3D3D;
  }
  
}

@media (max-width: 950px) {

.grille {
  width: 85%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 30px;
  padding-bottom: 80px;
  border-radius: 15px;
}
}